:root {
    --main-color: #B200C8;
    --red: #d81f47;
    --shade-black: #0E2333;
    --white:rgb(247, 238, 238);

}

body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.top-header {
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    color: var(--white);
    justify-content: space-between;
}

ul {
    list-style-type: none;


}

.top-header-right {
    width: 50%;
}

.top-header-right ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var(--white);
}

.other-part {
    width: 40%;
}

.other-part ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
    align-items: center;


}

.other-part a {
    text-decoration: none;
    color: black;
}


.logo img {
    width: 40%;
}

#contact-btn {
    border-radius: 100px;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    border-color: white;
}

#contact-btn:hover {
    background-color: white;
    color: black;
}

.hero {
    display: flex;
    padding: 5rem;
    justify-content: space-between;

}

.hero-left {
    width: 50%;

}

.hero-left h1 {
    font-size: 5rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
   
}

.hero-right {
    background-color: var(--red);
    border: 5px solid var(--red);
    border-radius: 500px;
}

#hero-left-btn {

    border-radius: 100px;
    padding: 20px 40px;
    background-color: var(--red);
    color: white;
    border-color: white;
}

#hero-left-btn:hover {
    background-color: black;
    color: white;
}

.value-prop {
    display: flex;
    justify-content: space-evenly;
}

.faster {
    padding: 20px 50px;
    border-style: solid;
    border-width: 3px;
    border-color: whitesmoke;
    display: flex;
    border-radius: 20px;
}

.faster h1 {
    padding-left: 30px;
}

.speedy-delivery {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    background-image: url(/pictures/background.png);

}

.special-occassion img {
    /* width: 70%; */
    margin-left: 10%;
}

.special-right {
    background-color: #0E2333;
    color: white;
    padding: 20px 50px;
    border-radius: 6%;
    /* height: 100%; */
    margin-top: 10%;
    /* margin-left: 5%; */
}

.special-right h2 {
    margin-top: 5rem;
}

.special-right button {
    border-radius: 100px;
    padding: 20px 40px;
    background-color: var(--red);
    color: white;
    border-color: white;
}

.special-right button a {
    text-decoration: none;
    color: white;
}

.special-right button:hover {
    background-color: white;
    color: var(--red);
}

.special-right button a:hover {
    color: var(--red);
    background-color: white;
}

footer {
    background-color: var(--shade-black);
    margin-top: 5rem;
    display: flex;
    color: white;
    justify-content: space-evenly;
    padding-bottom: 3rem;
}

.foot-logo img {
    width: 10%;
    padding: 5rem;
}

.foot-useful-link p {
    color: var(--red);
    font-size: 20px;
    margin-top: 5rem;
}